{{!--- The page should have *valid* HTML5--}}
  
<h1>CPSC113 Blog</h1>

<div>
    <form id="new-post" action="/posts/new" method="POST">
        <label for="text">New Post:  </label>
        <input name="text" type="text"><br>
        <input type="submit" class="chat-submit"><br>
    </form>
</div>
<br><br>

{{!--- The page should show a list of submitted chats, each in an HTML element with class="chat"--}}
{{#if chats}}
    <fieldset class="chat">
        {{#each chats}}
        {{this.description}}<br><br>
        {{/each}}
    </fieldset>

{{else}}
    No chats to show!
{{/if}}