{{!--- The page should have *valid* HTML5--}}
  
<h1>Hello World</h1>

<div>
    <form id="new-post" action="/posts/new" method="POST">
        <label for="text">New Post:  </label>
        <input name="text" type="text"><br>
        <input type="submit" class="chat-submit"><br>
    </form>
</div>
<br><br>

{{#if posts}}
    <fieldset class="posts-list">
        {{#each posts}}
        <div class="posts-list-item">
            <form action="/posts/{{this.postid}}" class="view-post" method="GET"><button type="submit" class="view-post" name="view-post">View Post</button></form>
        
        </div>
        {{/each}}
    </fieldset>

{{else}}
        No posts to show!
{{/if}}